header.header-font{
    font-family: 'Lato';
}


.jpcontainer{
    padding-top: 1rem;
    z-index: 1000;
}



.jplogo{
    margin-bottom: 1.3rem;
    padding-left: 5rem;
}

.job{
    font-size: 2rem;
    color: #02b1ba;
}

.portal{
    font-size: 2rem;
    color: #7ac943;
    padding-left: 0.3rem;
}

a{
    color: black;
}

.call{
    padding-top: 1.2rem;
    text-align: center;
    padding-left: 8rem;
    padding-right: 0;
}



.fa-1-3x{
    font-size: 1.3rem;
    margin: 1.5rem 0.8rem;
    text-align: left;
}


.socialIcons{
    padding-right: 3rem;
    padding-left: 2.5rem;
}


.fbhead{
    color: rgb(59,89,152);
}

.twhead{
    color: rgb(85,172,238);
}

.inhead{
    color: rgb(67,145,193);
}

.gphead{
    color: rgb(219,64,44);
}


.sectionOne{
    background-color: rgb(90,90,90);
    padding: 0;
}


.jpIndicators{
    z-index: 800;
}


.jpIndicators li{
    width: 4.5%;
    background-color: rgba(255,255,255,1);
}

.jpIndicators .active{
    background-color: rgb(122,201,67);
}

.jpSlideImg{
    opacity: 0.23;
}
.jpnavbar{
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    z-index: 1000;
    padding: 0.3rem 1rem;
}


.jpnav{
    margin: auto;
    font-weight: 600;
    font-size: 0.9rem;
}





.navbar-light .navbar-nav .nav-item .jpNavLink{
    color: black;
    padding: 0.7rem 1.8rem;
}


.jpNavItem.active{
    box-shadow: 0 -0.3rem rgba(2,176,185,1);
}


.jpjumbotron{
    position: absolute;
    z-index: 500;
    background-color: transparent;
    color: white;
    text-align: center;
    width: 100%;
    padding: 4%;
}

.lead{
    font-size: 2.4vw;
    font-weight: 350;
    letter-spacing: 0.15rem;
}


.jpjumbotron .container-fluid h1.display-4{
    font-weight: 350;
    font-size: 4.1vw;
}


.searchbtn{
    background-color: rgb(122,201,67);
    padding: 1.5% 5%;
    border-color: white;
    font-size: 1.5vw;
}


.jpform{
    font-family: "fontawesome" , "lato";
    color: rgba(0,0,0,0.5);
    padding-top: 0;
}


.jp-form-row{
    width:80%;
    margin: auto;
    padding-top: 0;
}

.jp-form-col{
    margin:2.6vw 0.5%;
    margin-top: 2%;
}

.jp-form-control{
    padding: 2.5vw 2vw;
}


.jp-form-control::placeholder {
    color: rgb(202,202,202);
    font-size: 1.4vw;
}


.jp-app-row{
    margin: auto;
}


.jp-app-col{
    margin:5% 0.5%;
    margin-top: 2%;
    padding: 3% 1%;
    display:block;
    margin: auto;
}

.jp-app-col img{
    border: 1px solid;
    border-radius: 0.5rem;
    border-color: white;
}






.sectionTwo{
    text-align: center;
    padding: 8% 6%;
}

.howto{
    font-size: 2rem;
}


.howto-one{
    padding-bottom: 8%;
}


.howto-two img{
    margin-bottom: 15%;
}


.howto-two p{
    font-size: 1.5rem;
    padding:0 20%;
    line-height: 1.8rem;
    padding-bottom: 10%;
}



.lj-col{
    padding: 7%;
    padding-bottom: 4%;
}



.table.table-striped.lj-table{
    font-family: "lato";
    font-size: 1.5rem;
    width: 100%;
}

.tabover{
    overflow-x: auto;
}


.lj-table td{
    padding: 2% 4%;
    color: rgb(139,139,139);
}


.lj-table .thead-dark th{
    background-color: rgb(2,176,185);
    border-color: rgb(2,176,185);
    padding: 2% 4%;
}


.lj-table tr td:nth-child(1){
    padding: 2% 3% 2% 1%;
}

.lj-table tr th:nth-child(1){
    padding: 2% 3% 2% 1%;
}


.lj-btn{
    background-color: rgb(122,201,67);
    border-radius: 0;
    border: 0;
    margin-top: 2%;
    padding: 0.6% 2%;
    font-size: 1.5rem;
}


.for-row{
    text-align: left;
    font-family: "lato";
}


.for-row h2{
    padding: 13% 9% 5% 9%;
}


.for-row img{
    margin-bottom: 30%;
}


.for-row h3{
    padding-top: 6%;
}



.for-row p{
    padding-top: 3%;
    padding-right: 22%;
    font-size: 1.3rem;
}


.for-btn{
    background-color: rgb(122,201,67);
    border: 0;
    border-radius: 0;
    font-size: 1.5rem;
    padding:0.7rem 2rem; 
    margin: 8% 18%;
}


.btn-job{
    padding:0.7rem 4rem;    
}

.sectionThree{
    background-image: url(assets/sec-3bg.jpg);
    color: white;
    text-align: center;
    padding: 3% 8% 5%;
    margin-bottom: 2%;
}

.os{
    padding-bottom: 3%;
}


.os-col img{
    border-radius: 100rem;
}


.os-col h2{
    margin: 3%;
}


.sectionFour{
    padding: 6%;
    text-align: center;
    font-family: "lato";
}


.sectionFour img{
    margin:auto;
}

.what-sli{
    margin: 5%;
    color: rgb(110,110,110);
    margin-bottom: 3%;
}


.what-ind{
    position: relative;
    margin: 0;
}

.what-ind li{
    background-color: rgb(127,127,127);
    width: 12px;
    height: 12px;
    border-radius: 50px;
}

.what-ind .active{
    background-color: rgb(122,201,67);
}


.what-sli label{
    font-size: 1.2rem;
}


.what-sli p{
    font-size: 1.5rem;
    padding: 3% 20%;
}


.what-socialicons img{
    padding: 0 0.7%;
}


.sectionFive{
    text-align: center;
    background-color: rgb(243,242,242);
    padding: 5%;
    font-family: "lato";
    padding-bottom: 3%;
}

.sectionFive h2{
    color: rgb(77,77,77);
    padding-bottom: 3%;
}


.lat-deck{
    padding: 0 5%;
}


div.card.lat-card{
    padding: 3% 4%;
    margin: 0 0.6%;
}

.lat-card label{
    font-size: 1rem;
    display: block;
    font-weight: 500;
}


.lat-card h5{
    font-size: 1.4rem;
    color: rgb(77,77,77);
}


.lat-card .tec{
    color: rgb(122,201,67);
}


.lat-card .com{
    color: rgb(2,176,185);
}


.lat-card .loc{
    color: rgb(117,117,117);
    font-size: 1.25rem;
}


.lat-card-body{
    padding-bottom: 0;
}


.latsli-ind{
    position: relative;
    padding: 5%;
    padding-bottom: 0;
    margin-bottom: 0;
}


.latsli-ind li{
    width: 7%;
    height: 5px;
    background-color: rgb(127,127,127);
}


.latsli-ind .active{
    background-color: rgb(122,201,67);
}


.sectionSix{
    text-align: center;
    padding: 5% 2% 6% 5%;
    font-family: "lato";
}


.sectionSix h2{
    padding-bottom: 5%;
}


.sectionSix img{
    padding: 1%;
    border-color: rgb(193,193,193);
}


.sectionSix i{
    float: right;
    margin-top: 15%;
    color: rgb(122,201,67);
}


.sectionSeven{
    background-color: rgb(77,77,77);
    font-family: "lato";
    text-align: left;
    color: white;
    padding: 4%;
}

.sectionSeven ul{
    padding-left: 0;
    padding-top: 5%;
    list-style-type: none;
}

.sectionSeven ul a{
    color: rgb(167,167,167);
    text-align: left;
}

.con{
    padding-left: 4%;
}


.con .col-md-2{
    padding: 0;
}

.con .col-sm-6,
.con .col-sm-4,
.con .col-sm-8{
    width: 50%;
    display: block;
}

.con img{
    margin: 2% 0;
    border: 1px solid;
    border-radius: 10px;
    border-color: white;
}

.con-soc img{
    width: 18%;
    border: none;
}

.con-soc a{
    margin-left: 10%;
}


footer,
footer div label a{
    background-color: rgb(34,34,34);
    color: rgb(169,169,169);
    padding: 2% 6% 1% 4%;
    font-weight: 450;
}

footer label{
    width: 50%;
}

.ter{
    width: 50%;
    display: block;
    float: right;
    text-align: right;
}
















@media only screen and (max-width: 1000px) {
}










@media only screen and (max-width: 1000px) {
    .call{
        padding-left: 0;
    }


    .socialIcons{
        padding-right: 2rem;
    }

    .jpcontainer{
        text-align: center;
    }

    .jplogo{
        padding-left: 0;
    } 


    .jpjumbotron .container-fluid h1.display-4{
        margin-bottom: 0;
    }

    .lead{
        margin-bottom: 0;
    }

    .jp-form{
        padding: 0;
    }

    input.form-control.jp-form-control{
        height: 45%;
        border-radius: 3px;
        padding: 3%;
        margin: 3px;
    }

    div.col.jp-form-col{
        height: 50%;
        padding-bottom: 5px;
        margin-bottom: 0;
    }

    .jp-app-col img{
        width: 75%;
    }

    .jp-form-control::placeholder {
        font-size: 2vw;
    }

    .jpnavbar{
        height: 10%;
        padding: 0;
    }

    .jpnavbar button{
        padding: 0 1%;
        height: 100%;
    }

    .jpnavbar span{
        height: 100%;
        vertical-align: top;
    }

    .for-btn{
        margin: 0;
    }

    .jpdrop{
        background-color: rgba(255,255,255,0.7);
    }


}







